* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
}

.main {
  height: 100vh;
  width: 100vw;
  background: aliceblue;
  display: flex;
  overflow: hidden;
}

.leftpannel {
  height: 100vh;
  width: 20vw;
  background: linear-gradient(130deg, rgb(0, 0, 0) 0%, #004d4d 50%, aqua 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-top: 30px;
  gap: 40px;
}
.adminHead {
  font-size: 1.4rem;
  color: whitesmoke;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.itemsBox {
  height: 80vh;
  width: 15vw;
  font-size: larger;
  color: aliceblue;
}

.list_items {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 25px;
  list-style: none;
}

.items {
  padding: 10px;
}

.items:hover {
  background-color: aliceblue;
  color: #2d3036;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#logoOut:hover {
  color: #db1a1a;
}

.items:active {
  scale: 0.9;
}

a {
  text-decoration: none;
  color: aliceblue;
}
.active {
  background-color: #69ebe7;
  color: #2d3036;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}

.rightContent {
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  background-color: aliceblue;
  display: flex;
}

.nav {
  height: 10vh;
  width: 70vw;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: azure;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
  border-radius: 24px;
}

.navLogo {
  font-size: 22px;
  font-weight: bold;
  color: #2d3036;
}

.navLogo i {
  background-color: #2d3036;
  border-radius: 50%;
  padding: 3px;
  color: #69ebe7;
}
.admin_user {
  display: flex;
  align-items: center;
  gap: 15px;
}
.admin_username {
  font-size: 15px;
  font-weight: bold;
  color: #2d3036;
}

.adminLogo {
  font-size: x-large;
  color: #2d3036;
  padding: 3px;
  background-color: #69ebe7;
  border-radius: 50%;
}

.overviewSect {
  height: 32vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
}

.cardSect {
  height: 30vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#cards {
  height: 16vh;
  width: 22vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

.card1 {
  border-left: 5px solid #69ebe7;
}
.card2 {
  border-left: 5px solid #69ebe7;
}
.card3 {
  border-left: 5px solid #69ebe7;
}

.data1 h2 {
  color: #2d3036;
}
.data2 h2 {
  color: #2d3036;
}
.data3 h2 {
  color: #2d3036;
}

#card_logo {
  font-size: 2rem;
  color: #2d3036;
}

.graphSect {
  height: 44vh;
  width: 77vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.graph {
  height: 40vh;
  width: calc(75vw / 2);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
